{{#> section}}
  {{#each data as |volunteer|}}
    <div class="detail-item">
      <header class="header">
        <h3>{{volunteer.organization}}</h3>
      </header>
      <p class="subheader-1">{{volunteer.position}}, <span class="date">{{volunteer.startDate}} -{{volunteer.endDate}}</span></p>
      {{#if volunteer.website}}
        <p class="subheader-2"><a href="{{volunteer.website}}" target="_blank">{{volunteer.website}}</a></p>
      {{/if}}

      <button class="btn btn-link" data-role="openModal" data-title="{{volunteer.organization}}" data-message="{{volunteer.summary}}">
        Show Detail
      </button>
      <div class="further-info">
        <ul>
        {{#each volunteer.highlights as |highlight|}}
          <li>{{highlight}}</li>
        {{/each}}
        </ul>
      </div>
    </div>
  {{/each}}
{{/section}}
