{{#> section}}
  {{#each data as |work|}}
    <div class="detail-item">
      <header class="header">
        <h3>{{work.company}}</h3>
      </header>
      <p class="subheader-1"> {{work.position}}, <span class="date">{{work.startDate}} - {{work.endDate}}</span></p>
      <p class="subheader-2"><a href={{work.website}} target="_blank">{{work.website}}</a></p>
      <button class="openModal" data-title="{{work.company}}" data-message="{{work.summary}}">Show Detail</button>
      <div class="further-info">
        <ul>
          {{#each work.highlights as |highlight|}}
            <li>{{highlight}}</li>
          {{/each}}
        </ul>
      </div>
    </div>
  {{/each}}
{{/section}}
